<h2>Add Invoice</h2>
<form (ngSubmit) ="onSubmit(f)" #f= "ngForm" > <!-- on event of submit. #f is a local varibale named "f" known only in template -->
  <div class="form-group">
    <label for="name">Product Name</label>
    <input type="text"
            class="form-control"
            id="name"
            name="name"
            required
            [(ngModel)]="invoice.name">
  </div>
  <!--<h5>Please fill Product name</h5>  -->

  <div class="form-group">
    <label for="amount">Amount</label>
    <input type="text"
            value="1000"
            class="form-control"
            id="amount"
            name="amount"
            required
            [(ngModel)]="invoice.amount">      
  </div>
  
  <button  type="submit" class="btn btn-primary" >Save Invoice</button>
</form>