<p>
<span  *ngIf = "!isEdit"><div>Title: {{post.title}}</div>
                        <div>Body: {{post.body}}</div> 
                        <div>User: {{post.user}}</div>
</span>
<span  *ngIf = "isEdit"><div>Title: <input type="text" [(ngModel)] = "post.title"></div>
                        <div>Body: <input type="text" [(ngModel)] = "post.body"></div>
                        <div>User: <input type="text" [(ngModel)] = "post.user"></div>
</span>

<!--<button (click) = "sendDelete()" >Delete</button> <button (click) = "toggleEdit()" >{{editButtonText}}</button>-->

<button *ngIf = "!isEdit" (click) = "sendDelete()" >Delete</button> <button (click) = "toggleEdit()" >{{editButtonText}}</button> 
<button *ngIf = "isEdit" (click) = "cancelEdit()">Cancel</button> 


</p>
