<h2>Add User</h2>
<form (ngSubmit) ="onSubmit(f)" #f= "ngForm" > <!-- on event of submit. #f is a local varibale named "f" known only in template -->
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text"
            class="form-control"
            id="name"
            name="name"
            required
            [(ngModel)]="user.name">
  </div>
  <div class="form-group">
    <label for="email">Email</label>
    <input type="text"
            class="form-control"
            value="1000"
            id="email"
            name="email"
            required
            [(ngModel)]="user.email">      
  </div>
  <button  type="submit" class="btn btn-primary" >Submit</button>
</form>