<style>
table, th , td  {
  border: 1px solid grey;
  border-collapse: collapse;
  padding: 5px;
}
table tr:nth-child(odd) {
  background-color: #f1f1f1;
}
table tr:nth-child(even) {
  background-color: #ffffff;
}
</style>
  <div>
  <h3>Products list:</h3>
   <table border="1">
        <tr>
          <th>Pid</th>
          <th>Pname</th>
          <th>Cost</th>
          <th>CategoryId</th>
        </tr>
      
        <tr  *ngFor = "let product of products" >
           

           <td> {{product.pid}} </td>
           <td> {{product.pname}} </td> 
           <td> {{product.cost}} </td>
           <td> {{product.categoryId}} </td>
                   
           <jce-product [product] = product   (deleteEvent) = "deleteProduct($event)" ></jce-product>
     </tr>
  </table>
</div>