<!-- <div>
 <td> {{product.pid}} </td>
           <td> {{product.pname}} </td> 
           <td> {{product.cost}} </td>
           <td> {{product.categoryId}} </td>
</div> -->
<td> <button (click) = "sendDelete()" >Delete</button> </td>

