  <jce-post-form (postAddedEvent) = "addPost($event)"></jce-post-form>
  <h3>Posts list </h3>
  <jce-spinner [visible] = "isLoading"></jce-spinner>
  <div>
  <ul class="list-group posts">
  <!-- <i *ngIf="isLoading" class="fa fa-spinner fa-spin fa-3x"></i>  -->
  
  <li *ngFor = "let post of posts"  
   [class.active]="currentPost == post"
   (click)="select(post)"
   class="list-group-item">

<jce-post [post] = post (deleteEvent) = "deletePost($event)"
                        (editEvent) = "editPost($event)"></jce-post>

                        <ul>
                          <li *ngFor ="let name of  post.userNames">

                            <!--פה הבעיה האם צריך להיות טיטל -->
                            {{(name | async)?.name}}
                          </li>
                        </ul>

                       

        </li>
      </ul>
    </div>